@import "tailwindcss";

.btn {
  @apply bg-blue-600 text-white py-2 px-4 rounded cursor-pointer;
}

.btn:hover {
  @apply bg-blue-700;
}

.btn-alt {
  @apply bg-green-600 text-white py-2 px-4 rounded cursor-pointer;
}

.btn-alt:hover {
  @apply bg-green-700;
}

.btn-unavailable {
  @apply bg-gray-600 text-white py-2 px-4 rounded cursor-not-allowed;
}

  /* Burger Menu */

.burger-menu-item {
  @apply block w-full px-4 max-sm:py-4 sm:py-2 text-white text-left rounded-md
}

.burger-menu-button {
  @apply cursor-pointer hover:bg-gray-700
}  

  /* Select Input */

.select-input-container {
  @apply flex justify-between items-center w-full px-4 py-3 border rounded-lg focus:outline-none focus:ring-2 cursor-pointer bg-transparent
}

.select-input-container-border {
  @apply border-gray-300 focus:ring-blue-200 focus:border-blue-500
}

.select-input-container-border-error {
  @apply border-red-500 focus:ring-red-200
}

  /* Floating Label */

.floating-label-container {
  @apply absolute left-4 px-1 transition-all duration-200 ease-in-out pointer-events-none peer-focus:-top-2 peer-focus:text-xs
}

.floating-label-container-position-placeholder {
  @apply -top-2 text-xs
}

.floating-label-container-position-label {
  @apply top-3.5 text-gray-500
}

.floating-label-container-placeholder-error {
  @apply text-red-600
}

  /* Numeric Input */

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; 
  appearance: textfield;
  padding-right: 2rem; 
}

.number-input-container {
  position: relative;
  display: inline-block;
}

.number-input-arrows {
  @apply flex flex-col absolute right-2 top-1/2 -translate-y-1/2 gap-0.5 pointer-events-none
}

.number-input-arrow {
  @apply flex w-4 h-4 p-0 items-center justify-center cursor-pointer text-gray-500 transition-colors duration-200 pointer-events-auto bg-none border-none
}

.number-input-arrow:hover {
  color: #3b82f6;
}

.number-input-arrow:focus {
  outline: none;
}

input[type="number"] {
  text-align: center;
  padding: 0;
}

  /* Card Label */

.card-label-container {
  @apply text-xs px-2 py-1 rounded select-none
}

.card-label-container-accented {
  @apply bg-blue-900 text-blue-200
}

.card-label-container-dimmed {
  @apply bg-gray-700 text-gray-300
}

  /* Record Card */

.record-card-container {
  @apply p-4 rounded-lg border relative z-40
}

.record-card-container-accented {
  background-color: var(--color-gray-800);
  border-color: var(--color-blue-500);
}

.record-card-container-dimmed {
  background-color: var(--color-gray-800);
  border-color: var(--color-gray-700);
}

.modal-overlay {
  @apply fixed flex justify-center items-center z-1000 top-0 left-0 right-0 bottom-0 bg-black/50
}

/* .modal-content {
  @apply relative p-5 rounded-lg bg-[rgb(22,22,48)] 
} */

.modal-close {
  @apply absolute top-2.5 right-4 bg-none border-none text-2xl cursor-pointer
}


