@import "tailwindcss";

  /* Auth Gate */

.auth-gate-page {
  @apply flex flex-col gap-4 p-6 text-center items-center justify-center h-screen;
  background-color: var(--color-bg-primary);
  color: var(--color-text-regular);
}

  /* Burger Menu */

.burger-menu-container {
  @apply absolute z-100 border shadow-lg rounded-md
  max-sm:right-[5%] max-sm:top-20 max-sm:w-[90%] max-sm:text-lg max-sm:text-center
  sm:right-14 sm:top-14 sm:w-65;
  color: var(--color-white);
  background-color: var(--color-bg-secondary);
  border-color: var(--color-dimmed);
  z-index: 100;
}

.burger-menu-container:focus {
  border-color: var(--color-accent);
}

.burger-menu-item {
  @apply block w-full px-4 max-sm:py-4 sm:py-2 text-left rounded-md
}

.burger-menu-button {
  @apply cursor-pointer
} 

.burger-menu-button:hover {
  background-color: var(--color-bg-primary); /* var(--color-gray-700); */
} 

  /* Buttons */

.submit-button-container {
  @apply py-2 px-4 rounded-md cursor-pointer;
}

.submit-button-container-regular {
  /* @apply bg-blue-600 hover:bg-blue-700 text-white; */
  color: var(--color-white);
  background-color: var(--color-button-primary);
}

.submit-button-container-regular:hover {
  background-color: var(--color-button-primary-hover);
}

.submit-button-container-danger {
  /* @apply bg-red-600 hover:bg-red-700 text-white; */
  color: var(--color-white);
  background-color: var(--color-button-danger);
}

.submit-button-container-danger:hover {
  /* @apply bg-red-600 hover:bg-red-700 text-white; */
  background-color: var(--color-button-danger-hover);
}

.submit-button-container-disabled {
  @apply cursor-not-allowed;
  color: var(--color-white);
  background-color: var(--color-button-disabled);
}

  /* List Input */

.list-input-container {
  @apply flex w-full border rounded-lg focus:outline-none focus:ring-2;
  background-color: var(--color-bg-primary);
}

.list-input-container-border {
  @apply border-gray-300 focus:ring-blue-200 focus:border-blue-500 /* пока не трогать */
}

.list-input-container-border-error {
  @apply border-red-500 focus:ring-red-200  /* пока не трогать */
}

.list-input-item-list {
  @apply flex flex-col w-full
}

.list-input-item {
  @apply flex w-full px-4 py-3 rounded-lg justify-between
}

.list-input-item-add {
  @apply cursor-pointer justify-center bg-transparent
}

.list-input-item-add:hover {
  background-color: var(--color-accent);
}

.list-input-button-delete {
  @apply flex-1 px-4 py-3 rounded-bl-lg cursor-pointer;
  color: var(--color-text);
  background-color: var(--color-button-danger);
}

.list-input-button-delete:hover {
  background-color: var(--color-button-danger-hover)
}

.list-input-button-reject {
  @apply flex-1 px-4 py-3 rounded-br-lg cursor-pointer;
  color: var(--color-text);
  background-color: var(--color-button-primary);
}

.list-input-button-reject:hover {
  background-color: var(--color-button-primary-hover)
}

  /* Input Field */

.input-field {
  @apply w-full px-4 py-3 border rounded-lg bg-transparent;
  background-color: var(--color-bg-primary);
}

.input-field-border {
  border-color: var(--color-white)
}

.input-field-border:focus {
  @apply accent-(--color-accent);
  outline: var(--color-accent);
  border-color: var(--color-accent)
}

.input-field-border-error {
  color: var(--color-button-danger);
  border-color: var(--color-button-danger)
}

  /* Rich Input */

.rich-input-textarea {
  @apply w-full min-h-25 max-h-[40vh] field-sizing-content px-4 py-3 border rounded-lg bg-transparent;
  background-color: var(--color-bg-primary);
}

.rich-input-textarea-border {
  border-color: var(--color-white)
}

.rich-input-textarea-border:focus {
  @apply accent-(--color-accent);
  outline: var(--color-accent);
  border-color: var(--color-accent)
} 


  /* Select Input */

.select-input-container {
  @apply flex justify-between items-center w-full px-4 py-3 border rounded-lg focus:outline-none focus:ring-2 cursor-pointer bg-transparent;
  background-color: var(--color-bg-primary);

}

.select-input-container-border {
  @apply border-white
}

.select-input-container-border-error {
  /* @apply focus:ring-red-200; */
  border-color: var(--color-text-danger);
  color: var(--color-text-danger)

}

.select-input-dropdown-container {
  @apply absolute z-50 w-full border rounded-lg shadow-lg overflow-y-auto max-h-60;
  background-color: var(--color-bg-secondary);
  border-color: var(--color-dimmed);
}

.select-input-dropdown-option {
  @apply px-4 py-2 rounded-md cursor-pointer;
}

.select-input-dropdown-option:hover {
  /* background-color: var(--color-blue-700); */
  background-color: var(--color-button-primary-hover);
}

/* .select-input-dropdown-option-selected {
  background-color: var(--color-blue-800);
} */

  /* Floating Label */

.floating-label-container {
  @apply absolute left-4 px-1 transition-all duration-200 ease-in-out pointer-events-none peer-focus:-top-2 peer-focus:text-xs
}

.floating-label-container-position-placeholder {
  @apply -top-2 text-xs
}

.floating-label-container-position-label {
  @apply top-3.5;
  color: var(--color-text-gray)
}

.floating-label-container-placeholder-error {
  /* @apply text-red-600 */
  color: var(--color-text-danger)
}

  /* Numeric Input */

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; 
  appearance: textfield;
  padding-right: 2rem; 
}

.number-input-container {
  position: relative;
  display: inline-block;
}

.number-input-arrows {
  @apply flex flex-col absolute right-2 top-1/2 -translate-y-1/2 gap-0.5 pointer-events-none
}

.number-input-arrow {
  @apply flex w-4 h-4 p-0 items-center justify-center cursor-pointer text-gray-500 transition-colors duration-200 pointer-events-auto bg-none border-none
}

.number-input-arrow:hover {
  /* color: #3b82f6; */
  color: var(--colo-accent)
}

.number-input-arrow:focus {
  outline: none;
}

input[type="number"] {
  text-align: center;
  padding: 0;
}

.number-input-inline-arrow {
  @apply px-2 focus:outline-none;
  color: var(--color-text-gray);
}

.number-input-inline-arrow:hover {
  color: var(--color-accent);  
}

  /* Card Label */

.card-label-container {
  @apply text-xs px-2 py-1 rounded select-none
}

.card-label-container-accented {
  /* @apply bg-blue-900 text-blue-200; */
  background-color: var(--color-accent); /* с лейблами надо что-то подумать -- в двухцветной они будут оттеняться от фона, так как цвет другой, а в одноцветной тяжко */
  color: var(--color-white);
}

.card-label-container-dimmed {
  /* @apply bg-gray-700 text-gray-300; */
  background-color: var(--color-bg-dimmed);
  color: var(--color-white);
}

  /* Record Card */

.record-card-container {
  @apply p-4 rounded-lg border relative z-20
}

.record-card-container-accented {
  background-color: var(--color-bg-secondary);
  border-color: var(--color-accent);
}

.record-card-container-dimmed {
  background-color: var(--color-bg-secondary);
  border-color: var(--color-dimmed);
}

.record-card-quest-container {
  @apply relative -top-4 -mb-4 z-10 px-4 pt-6 pb-2 rounded-lg border text-xs cursor-pointer;
}

.record-card-quest-container:hover {
  color: var(--color-text-accent);
}

.record-card-quest-container-accented {
  /* @apply border-blue-500 bg-gray-800; */
  background-color: var(--color-bg-secondary);
  border-color: var(--color-accent);
}

.record-card-quest-container-dimmed {
  /* @apply border-gray-700 bg-gray-800; */
  background-color: var(--color-bg-secondary);
  border-color: var(--color-dimmed);
}

  /* Entity Card */

.entity-card-link-container {
  @apply block border rounded-lg overflow-hidden transition-colors duration-200;
  background-color: var(--color-bg-secondary);
  border-color: var(--color-dimmed);
}

.entity-card-link-container:hover {
  /* @apply hover:border-blue-500 hover:bg-gray-750; */
  border-color: var(--color-accent);
}

  /* Modal */

.modal-overlay {
  @apply fixed flex justify-center items-center z-1000 top-0 left-0 right-0 bottom-0 bg-black/50
}

.modal-container {
  @apply p-4 rounded-lg border relative max-w-2xl w-[90%] mx-4;
  border-color: var(--color-accent);
  background-color: var(--color-bg-primary);
}

/* .modal-content {
  @apply relative p-5 rounded-lg bg-[rgb(22,22,48)] 
} */

.modal-close {
  @apply absolute top-2.5 right-4 bg-none border-none text-2xl cursor-pointer
}

  /* Layout */

.layout-main {
  @apply min-h-screen flex flex-col text-gray-100;
  background-color: var(--color-bg-primary);
  position: relative;
}

.layout-overlay {
  @apply fixed inset-0 bg-black/80;
  z-index: 30;
}

.layout-header {
  @apply sticky top-0 z-50 p-4;
  background-color: var(--color-header);
  position: sticky;
  z-index: 50;
}

.layout-footer {
  @apply flex gap-8 p-4 justify-center items-center text-center text-sm;
  background-color: var(--color-header);
  color: var(--color-gray);
}

/* BG-Pattern */

.layout-main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--pattern-color);
  mask-image: var(--pattern-url);
  mask-repeat: repeat;
  mask-size: var(--pattern-size);
  pointer-events: none;
}

.layout-main > *:not(.layout-header) {
  position: relative;
  z-index: 1;
}

  /* Switch */

.switch {
  @apply relative min-w-12 h-6 rounded-md transition-colors duration-200 cursor-pointer focus:outline-none focus:ring-2
}

.switch-active {
  background-color: var(--color-accent);
}

.switch-disabled {
  background-color: var( --color-gray);
}

.switch-label-on {
  color: var(--color-text-accent);
}

.switch-label-off {
  color: var( --color-gray);
}

  /* Record Feed */

.record-feed-session-title {
  @apply font-medium text-center text-balance;
  color: var(--color-text-accent);
}


  /* Icon */
.icon-status {
  color: var(--color-text-gray);
}

.icon-button-accented {
  @apply cursor-pointer;
  color: var(--color-text-accent);
}

.icon-button-accented:hover {
  color: var(--color-text-gray);
}

.icon-button-danger {
  @apply cursor-pointer;
  color: var(--color-button-danger);
}

.icon-button-danger:hover {
  color: var(--color-button-danger-hover);
}

.datestamp-label {
  @apply text-xs;
  color: var(--color-text-gray);
}

  /* Divider */

.divider-dimmed {
  border-color: var(--color-dimmed)
}

/* Drag and drop area */

.drag-area {
  @apply border-2 border-dashed rounded-lg p-6 text-center cursor-pointer transition-colors;
  background-color: var(--color-bg-primary);
}

.drag-area-active {
  border-color: var(--color-accent);
  background-color: white;
}