@font-face {
  font-family: Stetica;
  src: url('https://fs.gewiahr.ru/web/assets/fonts/Stetica-Light.otf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Stetica;
  src: url('https://fs.gewiahr.ru/web/assets/fonts/Stetica-Regular.otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Stetica;
  src: url('https://fs.gewiahr.ru/web/assets/fonts/Stetica-Bold.otf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Stetica';
  src: url('https://fs.gewiahr.ru/web/assets/fonts/Stetica-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}